<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<div>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Carrera</th>
            <th>Jefe</th>
            <th>Ciclos</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="carrera : ${carreras}">
            <td th:text="${carrera.id}"></td>
            <td th:text="${carrera.nombreCarrera}"></td>
            <td th:text="${carrera.jefeCarrera}"></td>
            <td th:text="${carrera.cantidadCiclos}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>