<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Formulario crear alumno</title>
</head>
<body>
<h1>Formulario</h1>
<form th:object="${alumno}" th:action="@{/save}" method="post">
    <label>Nombre: </label>
    <input type="text" th:field="*{nombre}"/>

    <label>Apellido: </label>
    <input type="text" th:field="*{apellido}"/>

    <label>Carrera: </label>
    <input type="text" th:field="*{carrera}"/>

    <label>Codigo Estudiante: </label>
    <input type="text" th:field="*{codigoEstudiante}"/>

    <label>Promedio Notas: </label>
    <input type="number" th:field="*{promedioNotas}"/>

    <label>Estado: </label>
    <select th:field="*{activo}">
        <option th:value="true">OK</option>
        <option th:value="false">ERROR</option>
    </select>

    <input type="submit" value="Enviar"/>
</form>
</body>
</html>